<h1>Búsqueda</h1>
<ul>
  <li>Precio</li>
</ul>

<div id="map"></div>

<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 92%;
    width: 80%;
    margin-left: 20%;
    margin-right: 2%;
    margin-top: -35%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

</style>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSlXDFJv_zAIm9eXo-BCKnTcJH5Eca48Y&callback=initMap"
        async defer></script>